@{
    ViewData["Title"] = "Thông tin sinh viên";
}
<div class="alert alert-info">
    <h1>@ViewData["Title"]</h1>
    <hr />
    <p>Mã sinh viên: 2310900003</p>
    <p>Họ và tên: Phạm Tuấn Anh</p>
    <p>Email: PTA051105@email.com</p>
    <p>Điện thoại: 0984551682</p>
    <p>Lớp: K23CNT3</p>
</div>