@{
    ViewData["Title"] = "Thông tin sinh viên";
}
<h1>@ViewData["Title"]</h1>
<div class="alert alert-danger">
    <p>Mã sinh viên: 2310900003</p>
    <p>Họ và tên: Phạm Tuấn Anh</p>
    <p>Email: Sktkgame69@gmail.com<p/>
    <p>Điện thoại: 0984551682</p>
    <p>Lớp: K23CNT3-NET</p>
</Div>
