﻿
@{
    ViewData["Title"] = "Thông tin sinh viên";
}

<div class="alert alert-info">
    <h1>Thông tin sinh viên</h1>
    <hr />
    <p>Mã sinh viên: 2310900003</p>
    <p>Họ và tên: Phạm Tuấn Anh</p>
    <p>Lớp: K23CNT3</p>
    <p>Email: Pta0511@gmail.com </p>
    <p>Điện thoại: 0984551682</p>
</div>