USE [phamtuananh_2310900003]
GO
/****** Object:  Table [dbo].[PtaEmployee]    Script Date: 02/07/2025 9:41:37 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PtaEmployee](
	[PtaEmpId] [int] NOT NULL,
	[PtaEmpName] [nvarchar](100) NULL,
	[PtaEmpLevel] [nvarchar](50) NULL,
	[PtaEmpStartDate] [date] NULL,
	[PtaEmpStatus] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[PtaEmpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[PtaEmployee] ([PtaEmpId], [PtaEmpName], [PtaEmpLevel], [PtaEmpStartDate], [PtaEmpStatus]) VALUES (1, N'Pham Tuan Anh', N'Intern', CAST(N'2005-11-05' AS Date), 1)
INSERT [dbo].[PtaEmployee] ([PtaEmpId], [PtaEmpName], [PtaEmpLevel], [PtaEmpStartDate], [PtaEmpStatus]) VALUES (2, N'Nguyen Van A', N'Junior Developer', CAST(N'2024-03-15' AS Date), 0)
INSERT [dbo].[PtaEmployee] ([PtaEmpId], [PtaEmpName], [PtaEmpLevel], [PtaEmpStartDate], [PtaEmpStatus]) VALUES (3, N'Tran Thi B', N'Senior Developer', CAST(N'2023-10-01' AS Date), 1)
GO
